Write a function that returns True if two arrays, when combined, form a consecutive sequence. A consecutive sequence is a sequence without any gaps in the integers, e.g. 1, 2, 3, 4, 5 is a consecutive sequence, but 1, 2, 4, 5 is not.
example: consecutive_combo([7, 4, 5, 1], [2, 3, 6]) ➞ True
consecutive_combo([1, 4, 6, 5], [2, 7, 8, 9]) ➞ False
consecutive_combo([1, 4, 5, 6], [2, 3, 7, 8, 10]) ➞ False
consecutive_combo([44, 46], [45]) ➞ True

1. new list
2. sort the list
3. check if its is continous

In [27]:
list1 = [1, 4, 6, 5]
list2  = [2, 7, 8, 9]

count = {}
for i in list1:
    list2.append(i)

for i in list2:
    count[i] = count.get(i, 0) + 1

print(count)
for val in count.values():
    if val > 1:
        print(True)
    else:
        print(False)

{2: 1, 7: 1, 8: 1, 9: 1, 1: 1, 4: 1, 6: 1, 5: 1}
False
False
False
False
False
False
False
False

1. tenure - The number of months the customer has stayed with the company.
2. monthly_charges - The amount charged to the customer each month for services (ranges from $20 to $120).
3. total_charges - The cumulative amount charged to the customer over their entire relationship with the company.
4. tech_support - A binary indicator (0 or 1) showing whether the customer has subscribed to technical support service. 1 means they have tech support, 0 means they don't.
5. online_security - A binary indicator (0 or 1) showing whether the customer has subscribed to online security service. 1 means they have the service, 0 means they don't.
6. contract_length - Categorical variable with three possible values:
 
* 0: Month-to-month contract (shortest commitment)
* 1: One-year contract (medium commitment)
* 2: Two-year contract (longest commitment)
 
 
7.payment_method - Categorical variable with four possible values (0, 1, 2, 3) representing different payment methods. The specific methods aren't labeled in the synthetic data, but in a real telecom dataset these might represent options like:
 
* 0: Electronic check
* 1: Mailed check
* 2: Bank transfer
* 3: Credit card
 
 
churn - The target variable (0 or 1) indicating whether the customer left the company (1) or remained (0).

In [15]:
import pandas as pd

In [16]:
data = pd.read_excel("chrun.xlsx")

In [17]:
data.head()

,Unnamed: 0,tenure,monthly_charges,total_charges,tech_support,online_security,contract_length,payment_method,churn
0,0,52,106.699376,5818.488479,1,0,0,1,0
1,1,15,60.798450,932.394171,1,1,1,1,0
2,2,72,75.172260,4985.830352,0,1,2,1,0
3,3,61,45.388856,2575.778854,0,1,2,0,0
4,4,21,39.611310,764.251863,1,1,1,3,0

In [18]:
data.corr()

,Unnamed: 0,tenure,monthly_charges,total_charges,tech_support,online_security,contract_length,payment_method,churn
Unnamed: 0,1.000000,-0.004385,-0.057263,-0.046751,0.025959,-0.001635,-0.025584,-0.013610,0.017631
tenure,-0.004385,1.000000,-0.070249,0.756836,-0.007836,0.028045,0.001779,-0.010279,-0.370525
monthly_charges,-0.057263,-0.070249,1.000000,0.504994,0.036058,-0.017242,0.005760,0.062042,0.223349
total_charges,-0.046751,0.756836,0.504994,1.000000,0.015825,0.010373,-0.007385,0.027731,-0.178800
tech_support,0.025959,-0.007836,0.036058,0.015825,1.000000,-0.001161,-0.023856,0.000708,-0.160523
online_security,-0.001635,0.028045,-0.017242,0.010373,-0.001161,1.000000,0.000319,0.043065,-0.233755
contract_length,-0.025584,0.001779,0.005760,-0.007385,-0.023856,0.000319,1.000000,0.042784,-0.200094
payment_method,-0.013610,-0.010279,0.062042,0.027731,0.000708,0.043065,0.042784,1.000000,-0.011417
churn,0.017631,-0.370525,0.223349,-0.178800,-0.160523,-0.233755,-0.200094,-0.011417,1.000000

preprocess
f1score


id = chrun
dep = rest

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification


X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                           random_state=0, shuffle=False)
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X, y)
print(clf.predict([[0, 0, 0, 0]]))

[1]